
/*
-----------COLOR---------------
headings - 
	rgb(122, 117, 106)
	rgb(42, 42, 42)
	rgb(209, 146, 169)
paragraphs -
	rgb(42, 42, 42)
links -
	rgb(42, 42, 42)
links:hover -
	rgb(209, 146, 169)	
links:visited-	
	rgb(122, 117, 106)

Background colors -
	#FFF
	rgba(242, 220, 218, .8)


---------FONT STACK------------
headings and links - 
	font-family: 'Gupter', serif;
	font-family: 'Cormorant SC', serif;
decorative/accent - 
	font-family: 'Dancing Script', cursive;
	font-family: 'Parisienne', cursive;
paragraph/figcaptions -
	font-family: 'Montserrat', sans-serif; 
*/

/*--------------------------------------------------------------------*/

/* Global Styles */
html, body {
	margin: 0;
	font-size: 16px;

}

h1, h2, h3, h4 {
	font-family: 'Gupter', serif; 
	font-weight: 300;  
}
p {
	font-family: 'Montserrat', sans-serif;	
	color: rgb(42, 42, 42);
	font-size: 1rem;
	font-weight: 300;
}
a {
	font-family: 'Gupter', serif;

	color: rgb(42, 42, 42);
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem;
	letter-spacing: .7px;
}
a:hover {
	color: rgb(209, 146, 169);
}
/* a:visited {
	color: rgb(122, 117, 106)
} */
li {
	list-style-type: none;
}
.wrapper {
	margin: 0;
}

/*HEADER*/

.h-nav {
	display: flex;
	justify-content: center;
}
.h-nav-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: .7rem;
	padding: 0;
	text-align: center;
	align-items: center;
}
.h-nav-item {
	padding: 1.2rem;
	font-size: 1.3rem;
	text-align: center;
	align-items: center;
}
.name {
	margin: 0; 
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	line-height: .8;
/* 	color: rgb(122, 117, 106) */
}

/* DROPDOWN MENU */
.dropbtn {
  color: rgb(42, 42, 42);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background: #FFF;
/*   margin-right: 2rem; */
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  color: rgb(42, 42, 42);
  padding: .5rem;
  text-decoration: none;
  display: block;
}

/*FEATURED CONTENT*/
.featured-content {
	display: flex;
}
.featured-col {
  display: flex;
  justify-content: space-around;
/*   align-items: stretch; */
  margin: 2rem;
  width: 47%;
}
.bio-container {
	background: rgba(242, 220, 218, .8);
	margin-right: .5rem;
  	flex-grow: 1;
  	flex-shrink: 2;

}
.bio-copy {
	margin: 2rem;
	border: 1px solid #FFF;
	padding: 1rem 3rem;
	text-align: center;
}
.bio-copy > p > h1 {
	margin-top: 0;
}
.main-img > img {
	width: 100%;
	object-fit: cover;
}
.featured-tagline {
	background: rgba(255, 255, 255, .7);
	margin-right: 3rem;
	z-index: 1000;
	width: auto;
	position: absolute;
	left: 44%;
	top: 60%;
}
.featured-tagline > h1 {
	margin: 1rem;
	border: 1px solid rgb(114, 110, 98);
	padding: 2rem;
	text-transform: uppercase;
	text-align: center;
	color: rgb(114, 110, 98);
	font-size: 1.5rem;

}
.hobbies {
	margin: 3rem 4rem;
	padding-top: 3rem;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
}
.hobbie-item {
	flex:0 0 18%;
	text-align: center;
}
.hobbie-item > p {
	padding: 0 1.5rem;
}

.hobbie-item > h2 {
/* 	font-family: 'Dancing Script', cursive; */
/* 	color: rgb(209, 146, 169); */	
}

.hobbie-item > img {
	width: 100%;
}
.story-section {
	margin: 6rem 3rem;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

}
/* .story-col {
	flex: 0 0 30%;	
} */
.story-img {
	width: 35%;
}
.story-img > img {
	width: 100%;
}
.story-copy {
	padding:  2rem;
	width: 50%;
/* 	border: 1px solid rgb(209, 146, 169); */
}
.story-copy > h1 {
	margin-top: 0;
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	color: rgb(209, 146, 169);
}



/* .hobbie-item4 > img{
	transform: rotate(90deg);
}
/* .gallery {
	background: rgb(67, 199, 185);
}
.galleryItem {

}
.galleryItem:nth-child(even) {
	background: rgb(250, 218, 209);
}
.galleryItem:nth-child(odd) {
	background: rgb(213, 212, 217);
}

.storySection {
	background: rgb(180, 199, 140);
}

.contact {
	background: rgb(129, 124, 111);
} */

/* footer {
	background: rgb(42, 42, 42);
} */

/*MEDIA QUERIES*/
@media (max-width: 1000px) {
	.h-nav-item {
		padding: 2rem .5rem 1rem;
		margin: 0;		
	}	
	.bio-container {
		width: 75%;
		text-align: center;
	}
	.featured-col {
		margin:  0;
	}
	.bio-copy {
		padding: 1rem;
		text-align: center;
	}
	.featured-img {
		width: 25%;
	}
	.featured-tagline {
		width: auto;
		left: 51%;
	}
	.featured-tagline > h1 {
		color: rgb(114, 110, 98);
	}
/* 	.hobbies {
		margin: 2rem;
	}
	.hobbies > p {
		padding: 0;
	} */

}
@media (min-width: 700px) {
	.dropdown > button {
		display: none;
	}	
}
@media (max-width: 700px) {
/*GLOBAL*/
	h1 {
		font-size: 1.4rem;
	}
	p {
		font-size: .9rem;
	}

/*HEADER-NAV QUERIES*/
	.h-nav {
		justify-content: space-between;
		align-items: center;
	}
	.h-nav-item {
		display: none;
		width: 100%;
		padding:1rem;
	}
	.name { 
		padding-left: 1rem;
		display: block;
		font-size: 1.8rem;
		text-align: left;
	}	
	.name > br {
		display: none;
	}
	.dropdown {
		text-align: right;
		width: 100%;
		justify-content: flex-end;
		padding-right: 1rem;
	}		

/*FEATURED CONTENT QUERIES*/
	.featured-col {
		width: 100%;
		margin: 0;
	}
	.featured-content {
		flex-direction: column;
	}
	.bio-copy > h1, .bio-copy > p {
		margin: 0;
		padding: 0;
	}
	.main-img { 
		order: -1; 
	}	
	.featured-tagline {
		width: 80%;
		left: 9.5%;
		top: 25%;
	}
	.featured-tagline > h1 {
		padding: 1rem;
		font-size: 1rem;
	}
}
